header , footer {

    background-color: blueviolet;
}
main {

    background-color: 	#20B2AA;
}
div {
    color: blue;
    font-size: 20px;
    font-weight: bold;
}

#imagemmeme {
width: 300px;
height: 100%;
margin: 20px;
padding: 10px;

}